<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <title>Robologger</title>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
